<main class="login-container">
  {{#>AuthForm}}
  {{> Header label="Вход"}}
  {{> Input placeholder="Логин" name="login" inputContainerClassName="input-container" inputClassName="input"}}
  {{> Input placeholder="Пароль" name="password" type="password" inputContainerClassName="input-container"
  inputClassName="input"}}
  {{> Button label="Авторизоваться" type="primary" page="chat"}}
  {{> Link label="Нет аккаунта?" page="registration" linkClassName="link"}}
  {{/AuthForm}}
</main>
