{{#>ProfileLayout}}
<div class="change-profile">
  <form class="change-profile-form">
    {{> Input label="Старый пароль" name="oldPassword" value="1234" inputContainerClassName="input-profile-container"
    inputLabelClassName="input-profile-label" inputClassName="input-profile-input" type="password" }}
    {{> Input label="Новый пароль" name="newPassword" value="5678" inputContainerClassName="input-profile-container"
    inputLabelClassName="input-profile-label" inputClassName="input-profile-input" type="password" }}
    {{> Input label="Имя" name="repeatNewPassword" value="5678" inputContainerClassName="input-profile-container"
    inputLabelClassName="input-profile-label" inputClassName="input-profile-input" type="password" }}
    <div class="change-profile-buttons-panel">
      {{> Button label="Сохранить" buttonType="submit" type="primary"}}
    </div>
  </form>
</div>
{{/ProfileLayout}}
