@import "../../styles/styles";

.badge {
  border: none;
  border-radius: 20px;
  width: auto;
  max-width: 45px;
  max-height: 20px;
  padding: 1px 6px;
  cursor: pointer;
  background: transparent;


  span {
    text-align: center;
    font-size: 12px;
    color: $gray-light;
  }

  &.badge-primary {
    background: $gray-light;

    span {
      color: $white-color;
    }
  }

  &.badge-ready {
    span {
      color: $red;
    }
  }

}
