{{#>ProfileLayout}}
<div class="edit-profile">
  <form class="edit-profile-form">
    {{> Input label="Почта" name="email" value="pochta@yandex.ru" inputContainerClassName="input-profile-container"
    inputLabelClassName="input-profile-label" inputClassName="input-profile-input" }}
    {{> Input label="Логин" name="login" value="ivanivanov" inputContainerClassName="input-profile-container"
    inputLabelClassName="input-profile-label" inputClassName="input-profile-input" }}
    {{> Input label="Имя" name="first_name" value="Иван" inputContainerClassName="input-profile-container"
    inputLabelClassName="input-profile-label" inputClassName="input-profile-input" }}
    {{> Input label="Фамилия" name="second_name" value="Иванов" inputContainerClassName="input-profile-container"
    inputLabelClassName="input-profile-label" inputClassName="input-profile-input" }}
    {{> Input label="Имя в чате" name="nickName" value="Иван" inputContainerClassName="input-profile-container"
    inputLabelClassName="input-profile-label" inputClassName="input-profile-input" }}
    {{> Input label="Телефон" name="phone" value="+7-(909)-967-30-30"
    inputContainerClassName="input-profile-container" inputLabelClassName="input-profile-label"
    inputClassName="input-profile-input" }}
    <div class="edit-profile-buttons-panel">
      {{> Button label="Сохранить" buttonType="submit" type="primary"}}
    </div>
  </form>
</div>
{{/ProfileLayout}}
