<main class="chat">
  <div class="chat-container">
    <div class="chat-list-area">
      <div class="profile-link-block">
        {{> Link label="Профиль" page="view-profile" linkClassName="profile-link-title"}}
      </div>
      <div class="search-input-block">
        {{> Input placeholder="🔎︎ Поиск" inputContainerClassName="search-input-container"
        inputClassName="search-input"}}
        {{> ChatList}}
      </div>
    </div>
    {{#if isChatSelected}}
    {{> SelectedCurrentChat}}
    {{else}}
    {{> EmptyCurrentChat emptyChatTitle="Выберите чат чтобы отправить сообщение"}}
    {{/if}}
  </div>
</main>
