<main class="error-page">
  <div class="error-page-code">
    <span>{{code}}</span>
  </div>
  <div class="error-page-title">
    <span>{{title}}</span>
  </div>
  <a class="link" page="{{page}}">
    {{label}}
  </a>
</main>
