@import 'https://fonts.googleapis.com/css?family=Inter';

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-style {
  color: $text-color;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}
