$main-color: #3369f3;
$second-color: #e4edfd;
$error-color: #ff2f2f;
$text-color: #1e1e1e;
$text-secondary-color: #999;
$input-color: #efefef;
$overlay-color: #00000040;
$white-color: #fff;
$red: "#FC4343";
$red-light: "#fedede";
$gray-light: #9A9A9A;
