@import "mixins", "variables";

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 30px 30px;
  width: 340px;
  box-shadow: 0 0 6px 0 #00000024;
  border-radius: 12px;
  gap: 16px;
}

.container-shadow {
  border-radius: 12px;
  background: $white-color;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
}
