@import "../../styles/styles";

.empty-current-chat {
  align-items: center;
  display: flex;
  flex: 3;
  justify-content: center;
  min-height: 18.75rem;
}

.empty-current-chat-title {
  @include text-style;

  color: $text-secondary-color;
}
