<div class="avatar-container">
  <div class="photo-container">
    <img src="{{avatarSrc}}" class="{{className}}">
    <div class="photo-overlay">
      <div class="overlay-text">Поменять аватар</div>
    </div>
  </div>
</div>
