<div class="current-chat-selected">
  <div class="current-chat-header">
    <div class="current-chat-header-image">
      <img src="{{avatarIcon}}" class="current-chat-header-icon" alt="Фото пользователя.">
    </div>
    <div class="current-chat-name">
      {{chatTitle}}
    </div>
    <div class="chat-settings">
      <img src="{{chatSettingsIcon}}" class="chat-settings-icon" alt="Настройка чата.">
    </div>
  </div>
  <div class="current-chat-main">
    <div class='current-chat-messages-container'></div>
  </div>
  <footer class="current-chat-footer">
    <div>
      <button class="add-file-button" type="button">
        <img src="{{addFileIcon}}" alt="Прикрепить дополнения." />
      </button>
    </div>
    <div class="message-input-block">
      {{> Input
      placeholder="Сообщение"
      inputContainerClassName="message-input-container"
      inputClassName="message-input"
      name="message"
      }}
    </div>
    {{>ButtonIcon buttonClassName="send-button"}}
  </footer>
</div>
